<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width: 600px;">
    {{{ body }}}
    {{!-- importar um partial. Uso dois mustache, o sinal de maior e o nome do PARTIAL --}}
    {{> footer}}
</div>